<div class="container">
  <div class="row">
    <div class="col-sm-3 user-item text-center">
      <h3>My friends</h3>
      <% @all_friends.each do |friend| %>
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div>
          <%= link_to friend.name, user_path(friend) %>
        </div>
      <% end %>
    </div>  
  </div>
</div>